.login-form{
    width: 50vw;
    display: inline-block;
    text-align: center;
}

.login{    
    border-bottom: 1px solid #c7a389;
    padding-bottom: 1rem;
}

.signup{
    color:#917a6a;
}

.gogo{
    text-align: right;
    padding-right: 10vw;
    padding-top: 1rem;
}

.login-element{
    padding: 5px;
}

.login-element input{
    font-size: 1rem;
}

#login-btn{
    border-radius: 50px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

#login-btn:hover{
    background-color: rgb(211, 231, 181);
    color: white;
}