.zu0p{
    margin: 0px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    background-color: white;
}

.header{
    display: flex;
    align-items: center;
    padding-bottom: 20px;    
    grid-column: 1 / sapn 3;
}

.contents{
    display: flex;
    align-items: center;
    grid-column: 2 / span 3;
}